{%extends 'base.html'%}





<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	
	<!-- title -->
	<title>FlightData</title>

</head>
{% block content %}
<body>
	
    <h2 class="text-center">{{airport}}</h2>
	<h2 class="text-center">{{airport['iata']}}</h2>
	<h2 class="text-center">{{airport['iciao']}}</h2>
	<h2 class="text-center">{{airport['name']}}</h2>
	<h2 class="text-center">{{airport['location']}}</h2>
	<h2 class="text-center">{{airport['street_number']}}</h2>
	<h2 class="text-center">{{airport['state']}}</h2>
	<h2 class="text-center">{{airport['country']}}</h2>
	<h2 class="text-center">{{airport['country_iso']}}</h2>
	<h2 class="text-center">{{airport['phone']}}</h2>
	<h2 class="text-center">{{airport['latitude']}}</h2>
	<h2 class="text-center">{{airport['longitude']}}</h2>
	<h2 class="text-center">{{airport['uct']}}</h2>
	<h2 class="text-center"><a href="{{airport['website']}}">Website of Airport</a></h2>
</body>
</html>
	
	<!--PreLoader-->

	

	
	

{% endblock %}